## Unity .gitattributes

# Force text files to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.cs text diff=csharp eol=lf
*.cginc text eol=lf
*.shader text eol=lf

# Unity YAML files that should be merged/diffed as text
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicsMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

*.pdf binary
*.md text eol=lf
